_site
.jekyll-cache
pages/.DS_Store
pages/tags.md
_notes/.obsidian
_notes/.claude
_notes/Public/.obsidian
_notes/00 Inbox
_notes/00 Wiki
_notes/50 Newsletter
_notes/80 WIP
_notes/90 Private
.last_build_time